<!DOCTYPE html>

<html lang="fr" class="light-style customizer-hide" data-theme="theme-default" data-assets-path="/templates/assets/"
  data-template="vertical-menu-template-free">
  <%- include('../base/auth/head') %>

  <body>
    <!-- Content -->

    <%- content -%>

    <!-- / Content -->

    <!-- Core JS -->
    <%- include('../base/auth/script') %>
  </body>

</html>