<div class="modal fade" id="kt_modal_eatci_changelog" tabindex="-1" aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered mw-900px">
    <!--begin::Modal content-->
    <div class="modal-content">
      <!--begin::Modal header-->
      <div class="modal-header">
        <!--begin::Modal title-->
        <h2><%= appName %> - Changements effectués</h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                fill="currentColor" />
              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                fill="currentColor" />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body py-lg-10 px-lg-10">
        <!--begin::Stepper-->
        <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
          id="kt_modal_create_stage_stepper">
          <!--begin::Aside-->
          <div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
            <!--begin::Nav-->
            <div class="stepper-nav ps-lg-10">
              <!--begin::Step 1-->
              <div class="stepper-item current" data-kt-stepper-element="nav">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px">
                  <i class="stepper-check fas fa-check"></i>
                  <span class="stepper-number">V2</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                  <h3 class="stepper-title">Version 2.0.1</h3>
                  <div class="stepper-desc">Lancement</div>
                </div>
                <!--end::Label-->
              </div>
              <!--end::Step 1-->
              <!--begin::Step 2-->
              <div class="stepper-item" data-kt-stepper-element="nav">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px">
                  <i class="stepper-check fas fa-check"></i>
                  <span class="stepper-number">V2</span>
                </div>
                <!--begin::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                  <h3 class="stepper-title">Version 2.0.0</h3>
                  <div class="stepper-desc">Développement</div>
                </div>
                <!--begin::Label-->
              </div>
              <!--end::Step 2-->
            </div>
            <!--end::Nav-->
          </div>
          <!--begin::Aside-->
          <!--begin::Content-->
          <div class="flex-row-fluid py-lg-5 px-lg-15">
            <!--begin::Form-->
            <form class="form" novalidate="novalidate" id="kt_modal_eatci_changelog">
              <!--begin::Step-->
              <div class="current" data-kt-stepper-element="content">
                <div class="w-100">
                  <!--begin::Input group-->
                  <div class="fv-row">
                    <label class="d-flex flex-stack mb-5 cursor-pointer">
                      <!--begin:Info-->
                      <span class="d-flex flex-column">
                        <span class="fw-bolder fs-6">Lancement de la plateforme eAtCI</span>
                        <span class="fs-7 text-muted">Lancement de la nouvelle plateforme de gestion des attestations
                          d'assurance automobile en côte d'ivoire</span>
                      </span>
                      <!--end:Info-->
                    </label>
                  </div>
                  <!--end::Input group-->
                </div>
              </div>
              <!--end::Step-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Stepper-->
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>